<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head th:fragment="header(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>[[${title}]]</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/site.css}">

    <script type="application/javascript" th:src="@{/js/site.js}" defer="defer"></script>
    <script type="application/javascript" th:src="@{/js/jquery.min.js}" defer="defer"></script>
</head>
</html>